@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background-image: url('/assets/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.center-div{
    padding-top: 10%;
}
form{
    padding: 4em 2em;
}